body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-logo {
  margin-bottom: 5px;
  width: 350px;
}

.login-right {
  max-width: 300px;
  width: 100%;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-right h2 {
  margin-bottom: 20px;
  color: #1877f2;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-input {
  margin: 10px 0;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #dddfe2;
  border-radius: 5px;
}

.login-button {
  background-color: #1877f2;
  color: white;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.login-button:hover {
  background-color: #165ec9;
}

.signup-link {
  margin-top: 20px;
  font-size: 0.875rem;
  color: #606770;
}

.signup-link a {
  color: #1877f2;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}

.error {
  color: red;
  font-size: 0.875rem;
  margin-top: 10px;
  text-align: left;
}
