.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signup-logo {
  margin-bottom: 20px;
  width: 400px;
}

.signup-right {
  max-width: 350px;
  width: 100%;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.signup-right h2 {
  margin-bottom: 20px;
  color: #1877f2;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.name-fields {
  display: flex;
  justify-content: space-between;
  gap: 10px; /* Add space between the fields */
}

.signup-input {
  margin: 10px 0;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #dddfe2;
  border-radius: 5px;
  width: 100%;
}

.signup-input.half-width {
  width: calc(50% - 5px);
}

.signup-button {
  background-color: #1877f2;
  color: white;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.signup-button:hover {
  background-color: #165ec9;
}

.login-link {
  margin-top: 20px;
  font-size: 0.875rem;
  color: #606770;
}

.login-link a {
  color: #1877f2;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

.error {
  color: red;
  font-size: 0.875rem;
  margin-top: 5px;
  text-align: left;
}

.error-border {
  border-color: red;
}

.input-container {
  position: none;
}
