.theme-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f9fc;
    min-height: 100vh;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    overflow-y: auto; /* Add scroll bar */
  }
  
  .theme-title {
    font-size: 2.5em;
    color: #4CAF50;
    margin-bottom: 40px;
  }
  
  .days-container {
    position: relative;
    width: 300px; /* Adjust width as necessary */
    height: 1500px; /* Adjust height as necessary */
  }
  
  .no-days-message {
    font-size: 1.2em;
    color: #888;
  }
  